// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Palette Green
$blue1:#ecf9ff;
$blue2:#d8f3fd;
$blue3:#c6e6ff;
$blue4:#aad7ff;
$blue5:#2f77ff;